/-- CASE EXPRESSSION.sql
/-- CASE PRACTICE.sql
/-- how many job postings in each month.sql
/-- PRACTICE PROBELM 7 CTE.sql
/-- SUBQUERIES.sql
/-- UNION.sql
/.vscode
/ALTER TABLE job_applied.sql
/course_sql.session.sql
/CREATE TABLE job_applied.sql
/csv_files
/DROP TABLE job_applied.sql
/INSERT INTO job_applied(job_id,.sql
/postgres.session.sql
/PROJECT_SQL
/SELECT '2023-02-19';.sql
/SELECT.sql
/SELECT1.sql
/sql_project.session.sql